## **Assignment - Week 4**

**Instructions:** 
- Answer each question on a separate cell, either in a markdown or code cell depending on the question.
- Use comments in your code

## **Question 1**
Create a Pandas Series from a list of temperatures: 22, 25, 30, 28, 35, 32, 33 and label the indexes as Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday and specify the data type to be ```float32```.\
Display the series.

## **Question 2**
Construct a Pandas Series with  20 numbers from 100 to 150 and create an index from 1- 20 using the ```np.arange``` function. Specify the data type to be of ```float64```.

## **Question 3**
Create a pandas DataFrame with 10 rows with the following columns:
- Name (random names with your name being the first)
- State
- Age
- Weight (in kg)
- Gender

Display the DataFrame

## **Question 4**
For the above DataFrame, write code to print its shape, columns, and the data type of each column.

## **Question 5**

Add a new column `occupation` to the DataFrame you created.

## **Question 6**

Create two Series, `A` and `B`, containing the numbers 1 - 5 and 6 - 10 respectively. Compute the sum, difference ```(B-A)```, and product of `A` and `B`.

## **Question 7**

Lists 10 attributes/methods of a Series and explain what they do.

## **Question 8**

Lists 10 attributes/methods of a DataFrame and explain what they do

## **Question 9**

Highlight 3 differences between a `Series` and `DataFrame`

## **Question 10**
List two key points you learnt in week 6 classes